.landing-page {
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    122deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(23, 23, 144, 1) 19%,
    rgba(19, 54, 162, 1) 32%,
    rgba(18, 63, 167, 1) 37%,
    rgba(20, 47, 158, 1) 47%,
    rgba(0, 212, 255, 1) 100%
  );
}
